*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #404040;
  color: #ffffff;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
