*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #404040;
  color: #ffffff;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.debugGizmo {
  position: absolute;
  left: 100px !important;
  top: 5px !important;
  width: auto !important;
  height: 10% !important;
  aspect-ratio: 1;
}
